<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.test.Base"/>
      <class name="com.test.VerifyHomePage"/>
      <class name="com.test.InputCustomerDetails"/>
      <class name="com.test.VerifyProductPage"/>
      <class name="com.test.AddMultiProduct"/>
      <class name="com.test.AddSingleProduct"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
